@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: none;
}

:root {
    --main: #FF9843;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(assets/image.png);
    background-size: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    background-color: #FF9843;
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}

.profile {
    width: 10rem;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    /* transition: .8s; */
}

/* .profile:hover {
    transform: scale(1.1);
} */

.social-media img {
    width: 1.5rem;
    margin: 7px 15px;
    transition: .8s;
}

.social-media img:hover {
    transform: scale(1.3);
}

.profile-footer {
    background-color: #fff;
    height: 12rem;
    margin-right: -5.64rem;
    margin-left: -5.64rem;
    margin-bottom: -2.5rem;
    border-radius: 20px;
}

/* .profile-footer img {
    width: 1.5rem;
    padding: 1rem 0rem 2rem 0rem;
    transition: .8s;
}

.profile-footer img:hover {
    transform: scale(1.3);
} */

.profile-card a button{ 
    text-decoration: none;
    color: #FF9843;
    cursor: pointer;
    font-size: 1.1rem;
}

.profile-card button {
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px #FF9843;
    padding: 12px 65px;
    border-radius: 30px;
    margin-bottom: -50px;
    font-size: 16px;
    transition: .8s;
}

.profile-card button:hover {
    transform: scale(1.25);
}



/* PROGRES BAR */

.ntah {
    padding-top: 2rem;
}

.myskils {
    color: #FF9843;
    font-family: "Poppins", sans-serif;
}

/* HTML */
.pbHTML {
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 10px;
    margin: 0px 25px 0px 25px;
}
.cpHTML {
    width: 85%;
    background-color: #FF9843;
    border-radius: 20px;
    transition: .8s;
}

.cpHTML:hover {
    background-color: #ff6f43;
    transform: scale(1.050);
}

.ss {
    text-align: left;
    padding-left: 2rem;
    color: var(--main);
}


/* CSS */
.pbCSS {
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 10px;
    margin: 0px 25px 0px 25px;
}
.cpCSS {
    width: 65%;
    background-color: #FF9843;
    border-radius: 20px;
    transition: .8s;
}

.cpCSS:hover {
    background-color: #ff6f43;
    transform: scale(1.050);
}